{% extends "bootstrap/base.html" %}

{% block title %}{{ config['SITE_NAME'] }} - Change Password{% endblock %}

{% block head %}
{{ super() }}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock head %}

{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}
{% include "security/_messages.html" %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-4 col-sm-offset-4">
        <h1>Register</h1>
        <div class="well">
            <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                {{ register_user_form.hidden_tag() }}
                {{ render_field_with_errors(register_user_form.email) }}
                {{ render_field_with_errors(register_user_form.password) }}
                {% if register_user_form.password_confirm %}
                {{ render_field_with_errors(register_user_form.password_confirm) }}
                {% endif %}
                {{ render_field(register_user_form.submit, class="btn btn-primary") }}
            </form>
            <p>Already signed up? Please <a href="{{ url_for('security.login') }}">log in</a>.</p>
        </div>
    </div>
</div>
{% endblock body %}
